body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul{
	list-style-type: none;
}
li{
	text-align: center;
}
body{
	font-family: "微软雅黑",sans-serif
}
a{
	text-decoration: none;
	color: black;
}
a:active{
	color: white; 
}

#nev_1{
	position: fixed;
    top: 2px;
    z-index: 1;
    width: 100%;
	overflow: hidden;
	background-color: #f3f3f3;
}

#nevLeft li{
	float: left;
	padding: 25px 3.7%;
}
.borderRight{
	border-right: 1px solid black;
}

#nevLeft .paddingLeft{
	padding-left: 0;
	padding-right: 2.4%;
}
#nevLeft .circle_1_paddingSmall{
	padding: 17px 8px 10px 3.7%;
}
#nevLeft #circle_1{
	height: 40px;
	width: 40px;
	background-color: white;
	border-radius: 50%;
}

#nevRight{
	float: right;
}

#nevRight li{
	float: right;
	padding: 16px 10px;
}

#nevRight .diamonds_1_paddingSmall{
	padding: 15px 0 0 0;
}
#nevRight #diamonds_1{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: white;
	border: 0.5px solid black;
}
#whiteLine{
	clear: both;
	height: 3px;
	background-color: white;
	border-top: 1px solid black;
}

/*nev2-----------------------------------------------------------------------------------------*/
#nev2 {
    overflow: hidden;
    width: 66%;
    margin: 60px auto 0;
    height: 230px;
    background-color: #999999;
}

#diamonds_2 img{
	float: left;
	margin: 50px 0 0 50px;
	height: 120px;
	width: 120px;
}

#n_name{
	float: left;
	margin-top: 55px;
	margin-left: 10px;
}

#nev_2 #option{
	margin-top: 170px;
	text-align: center;
}

#nev_2 ul{
	display: inline;
}
#nev_2 .marginSmall{
	margin-left: 0;
}
#nev_2 li{
	display: inline;
	color: white;
	font-size: 30px;
	margin-left: 14%;
	font-family: "微软雅黑";
}

#nev_2 a{
	text-decoration: none;
	color: white;
}
#nev_2 a:active{
	color: black; 
}